<!DOCTYPE HTML>
<html lang="en-US">
<head>
  <meta charset="UTF-8">
  <title>{{ site.title }} | {{ page.title }}</title>
  <meta name="viewport" content="width=device-width,initial-scale=1">
  <link rel="stylesheet" href="{{ site.baseurl }}css/normalize.css" />
  <link rel="stylesheet" href="{{ site.baseurl }}css/gridism.css" />
  <link rel="stylesheet" href="{{ site.baseurl }}css/style.css" />
  <link rel="stylesheet" href="{{ site.baseurl }}css/pygments.css" />
  <link rel="icon" type="image/x-icon" href="{{ site.baseurl }}favicon.png" />
  <script src="{{ site.baseurl }}js/modernizr-2.5.3.min.js"></script>
</head>
